# Virtual Environment
venv/

# Data files
*.csv

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea/
.DS_Store
