# Virtual Environment
venv/

# Data files
backend/remoteco/remoteco_jobs_detailed.csv
backend/remoteco/remoteco_jobs.csv
backend/stackoverflow_jobs/stackoverflow_jobs_detailed.csv
backend/stackoverflow_jobs/stackoverflow_jobs.csv

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/