body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E3F2FD;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1565C0;
  padding: 10px 20px;
  color: white;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.logout-button {
  background: white;
  color: #1565C0;
  border: 2px solid #1565C0;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}

.logout-button:hover {
  background: #E3F2FD;
}

.job-list {
  margin-top: 20px;
}

.job-card {
  padding: 10px;
  margin: 10px 0;
  background: #abd2ef;
  border: 2px solid #0D47A1;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.job-title-link {
  text-decoration: none;
}

.job-title {
  margin: 0 0 10px;
  color: #0D47A1;
  text-decoration: none; 
}

.job-title-link:hover .job-title {
  text-decoration: underline; 
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-bar, .filter-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-bar input, .filter-bar select {
  width: 300px; 
  font-size: 16px;
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.primary-button {
  padding: 12px 24px;
  font-size: 16px;
  background: #1565C0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 150px; 
  text-align: center;
}

.primary-button:hover {
  background: #0D47A1; 
}

.primary-button:disabled {
  background: #cccccc; 
  color: #666666; 
  cursor: not-allowed; 
  border: none; 
}

.scrape-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.scrape-buttons .primary-button {
  margin: 10px;
}

.clear-database-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.scrape-button button {
  padding: 12px 24px;
  font-size: 16px;
  min-width: 150px;
  text-align: center;
  margin-bottom: 20px;
}

.scrape-message {
  position: relative;
  color: #666;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-top: 10px; 
}

.auth-container {
  max-width: 400px;
  margin: 30px auto 50px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container h2 {
  margin-top: 0;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-container input {
  padding: 12px; 
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  padding: 12px 24px;
  font-size: 16px;
  background: #1565C0; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container button:hover {
  background: #0D47A1;
}

.auth-container p {
  color: #333;
  font-size: 17px;
}

.auth-container p a {
  color: #0D47A1;
  text-decoration: none;
}

.auth-container p a:hover {
  text-decoration: underline;
}

button.primary-button.clear-button {
  background-color: white;
  color: #1565C0;
  border: 2px solid #1565C0;
  padding: 8px 18px;
}

button.primary-button.clear-button:hover {
  background-color: #E3F2FD; 
}

.filter-bar button, .search-bar button {
  width: auto; 
  padding: 12px 24px;
  font-size: 16px;
  background: #1565C0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.filter-bar button:hover, .search-bar button:hover {
  background: #0D47A1; 
}

.instruction-text {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #0D47A1; 
  background-color: #ffffff;  
  border: 2px solid #1565C0; 
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.instruction-text .welcome {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

.intro-text {
  font-size: 22px;
  color: #333;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

.job-detail {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border: 2px solid #0D47A1; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-title-detail {
  text-align: center;
  color: #1565C0;
  font-size: 1.7rem;
  margin-top: 10px;
}

.job-info p {
  margin: 15px 0;
}

.job-info p strong {
  font-size: 1.2rem;
}

.job-detail p {
  font-size: 16px;
  color: #333;
}

.job-description {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

.job-detail .button-container {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.job-detail .back-button {
  padding: 10px 20px;
  background: #1565C0;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

.job-detail .back-button:hover {
  background: #0D47A1;
}
